#intro{
    background-color: $theme-color;
    text-align: center;
    padding: 80px 0px;
    .intro-details{
        h4{
            margin-top: 0px;
            font-size: 44px;
            font-weight: 600;
            color: $white;
            margin-bottom: 10px;
            line-height: 1.1;
        }
        h6{
            margin-top: 15px;
            font-size: 17px;
            font-weight: 700;
            color: $white;
            letter-spacing: 1px;
            margin-bottom: 10px;
            line-height: 1.1;
        }
        .border-button {
            margin-top: 45px;
            a {
                padding: 13px 20px;
                letter-spacing: 0.5px;
                background-color: transparent;
                border: 1px solid $white;
                color: $white;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}