<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <title>Power</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 slider-contact">
                    <h3>DESIGNED WITH LOVE</h3>
                    <h1>THE POWER THEME</h1>
                    <div class="slider-btn">
                        <a href="#" class="section-btn btn down-btn">Download Now</a>
                        <a href="#" class="section-btn btn more-btn">More Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12 intro-details">
                    <h4>Web Design &amp; Development Crew!</h4>
                    <h6>WE CREATE HTML CSS TEMPLATE</h6>
                    <div class="border-button">
                        <a href="#">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <section id="about">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item first-service">
                    <div class="icon">
                        <img src="images/first-service-icon.png" alt="">
                    </div>
                    <h4>Mobile Ready</h4>
                    <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae
                        urna. Vestibulum ante ipsum primis in faucibus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item second-service">
                    <div class="icon">
                        <img src="images/second-service-icon.png" alt="">
                    </div>
                    <h4>HTML CSS</h4>
                    <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae
                        urna. Vestibulum ante ipsum primis in faucibus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item third-service">
                    <div class="icon">
                        <img src="images/third-service-icon.png" alt="">
                    </div>
                    <h4>Responsive Design</h4>
                    <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae
                        urna. Vestibulum ante ipsum primis in faucibus.</p>
                </div>
            </div>
        </div>
    </section> 
    <section id="second" class="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>What we can do else</h4>
                        <p>Sed tortor lorem, mollis in fringilla sit amet, accumsan eget turpis. Donec ut sollicitudin quam. Sed tempor
                            porta malesuada. Cras aliquam nisi eget efficitur ultrices. Aenean ac ultricies nisl.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrapper">
                    <div class="col-md-12">
                        <div class="row">
                            <ul class="tabs clearfix">
                                <li class="col-md-15 col-sm-12 col-xs-12">
                                    <a href="#" class="active">
                                        <div class="list-item">
                                            <div class="icon">
                                                <img src="images/first-list-icon.png" alt="">
                                            </div>
                                            <h4>Unique Ideas</h4>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-15 col-sm-12 col-xs-12">
                                    <a href="#">
                                        <div class="list-item">
                                            <div class="icon">
                                                <img src="images/second-list-icon.png" alt="">
                                            </div>
                                            <h4>Theme Edit</h4>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-15 col-sm-12 col-xs-12">
                                    <a href="#">
                                        <div class="list-item">
                                            <div class="icon">
                                                <img src="images/third-list-icon.png" alt="">
                                            </div>
                                            <h4>Translation</h4>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-15 col-sm-12 col-xs-12">
                                    <a href="#">
                                        <div class="list-item">
                                            <div class="icon">
                                                <img src="images/fourth-list-icon.png" alt="">
                                            </div>
                                            <h4>Event Meeting</h4>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-md-15 col-sm-12 col-xs-12">
                                    <a href="#">
                                        <div class="list-item">
                                            <div class="icon">
                                                <img src="images/fivth-list-icon.png" alt="">
                                            </div>
                                            <h4>HD Photos</h4>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <section id="second-tab-group" class="tabgroup">
                            <div id="unique" style="display: block;">
                                <div class="row tab-content-services">
                                    <div class="col-md-6">
                                        <div class="left-text">
                                            <h4>Unique Ideas</h4>
                                            <p>Power is a HTML CSS responsive layout from TemplateMo site. You are absolutely
                                                free to download, modify and use this template. Please mention your friends
                                                about our website. That will be very helpful.
                                                <br><br>Aenean malesuada pretium lectus, a vulputate ligula rhoncus nec.
                                                Curabitur id dapibus risus. Integer malesuada iaculis eros sit amet egestas. Sed
                                                efficitur massa ut dolor porta varius. Sed porttitor vitae dolor faucibus
                                                pulvinar.</p>
                                            <div class="primary-button">
                                                <a href="#contact-us">Download Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="right-image">
                                            <img src="images/right-side-image_1.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <section id="portfolio" class="portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>WHAT WE CAN DO ELSE</h4>
                        <p>Aliquam neque neque, commodo in euismod id, lobortis in lacus. Duis interdum sagittis velit, fermentum tincidunt lectus.
                        Nam ornare turpis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <img src="images/first-portfolio-item.jpg" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <img src="images/second-portfolio-item.jpg" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <img src="images/first-portfolio-item.jpg" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <img src="images/third-portfolio-item.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>  
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>OUR BLOG ENTRIES</h4>
                        <p>You can feel free to download and use for your websites. Template re-distribution is NOT allowed on any download
                        website.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="tabs clearfix">
                        <li><a href="#" class="active">
                                shoreditch wolf ethical hashtag
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>Admin</li>
                                    <li><i class="fa fa-calendar"></i>14 November 2020</li>
                                    <li><i class="fa fa-wechat"></i>12 Comments</li>
                                </ul>
                            </a></li>
                        <li><a href="#">
                                kickstarter master cleanse scenester
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>Krist</li>
                                    <li><i class="fa fa-calendar"></i>08 November 2020</li>
                                    <li><i class="fa fa-wechat"></i>16 Comments</li>
                                </ul>
                            </a></li>
                        <li><a href="#">
                                Seitan flexitarian prism shaman
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>Nanny</li>
                                    <li><i class="fa fa-calendar"></i>02 November 2020</li>
                                    <li><i class="fa fa-wechat"></i>9 Comments</li>
                                </ul>
                            </a></li>
                        <li><a href="#">
                                Fashion axe selvage everyday carry
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>Krist</li>
                                    <li><i class="fa fa-calendar"></i>28 October 2020</li>
                                    <li><i class="fa fa-wechat"></i>11 Comments</li>
                                </ul>
                            </a></li>
                        <li><a href="#">
                                chambray truffaut godard flannel
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>Admin</li>
                                    <li><i class="fa fa-calendar"></i>22 October 2020</li>
                                    <li><i class="fa fa-wechat"></i>24 Comments</li>
                                </ul>
                            </a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div id="first-tab-group" class="tabgroup">
                        <div id="tab1" style="display: block;">
                            <img src="images/blog-post-1.jpg" alt="" class="img-fluid">
                            <div class="text-content">
                                <h4>shoreditch wolf ethical hashtag</h4>
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>Admin</li>
                                    <li><i class="fa fa-calendar"></i>14 November 2020</li>
                                    <li><i class="fa fa-wechat"></i>12 Comments</li>
                                </ul>
                                <p>La croix kombucha bespoke dreamcatcher, tumeric tbh quinoa micro dosing gastro pub. 8-bit
                                    freegan chartreuse synth jean shorts farm to table, cold pressed authen tic. Mixtape hella
                                    beard meditation, Pok pok meh tote bag single-origin coffee, everyday carry unicorn raw
                                    denim distillery cray pork belly taxidermy organic polaroid.</p>
                                <div class="primary-button"><a href="#">Continue Reading</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>CONTACT US</h4>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea
                        dictumst.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="contact" action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Name..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..."
                                        required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="phone" type="phone" class="form-control" id="phone" placeholder="Phone..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message..."
                                        required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send your message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="images/Screenshot 2020-06-19 at 7.56.39 PM.png" class="img-fluid">
                </div>
            </div>
        </div>
    </section>        
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 200) {
                $('nav').addClass('fixed-header');
            }
            else {
                $('nav').removeClass('fixed-header');
            }
        });
    </script>
</body>

</html>